/__pycache__/
data/**
runs/**
/checkpoints/*.zip
/checkpoints/checkpoint_GAN_[1-9].pth
/checkpoints/checkpoint_GAN_[1-9][0-9].pth
/checkpoints/checkpoint_GAN_[1-9][0-9][0-9].pth
/checkpoints/checkpoint_GAN_[1-9][0-9][0-9][0-9].pth